<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="css/style.css" rel="stylesheet" crossorigin="anonymous"> -->

    <link href="{{ url_for('css', path='style.css') }}" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>


    <title>{{ username }}</title>
</head>
<body>

    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="my-5">MM Report Widget</h1>

                        <p class="col-sm-5 fs-5 lh-lg">
                            This widget can help you compare defect measurement results 
                            between two different machines.
                        </p>
                </div>
                <div class="d-grid col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2 mt-5">                     
                    <a class="btn btn-rounded start-btn" href="#upload"> Start</a>
                </div>
            </div>
        </div>
    </section>
    

    <section id="upload" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="my-5 text-center" style="font-size: 60px; font-weight: bold">Upload Files</p>

                    <form method="POST" enctype="multipart/form-data">
                        <div class="my-5 upload measure-upload">

                            <p class="fs-4 mb-4 text-center">1. Measurement Result</p>

                            <div class="row">

                                <label class="col btn btn-rounded shadow upload-label">
                                    <input id="ref_measure_file" name="ref_measure_file" class="file-input" type="file" accept=".txt">
                                    <p class="fs-2 text-center">Reference</p>
                                    <img class="upload-logo mx-auto d-block" src="../images/download-svgrepo.svg">
                                </label>

                                <label class="col btn btn-rounded shadow upload-label">
                                    <input id="compare_measure_file" name="compare_measure_file" class="file-input" type="file" accept=".txt">
                                    <p class="fs-2 text-center">Compare</p>
                                    <img class="upload-logo mx-auto d-block" src="../images/download-svgrepo.svg">
                                </label>
                            </div>

                            
                            <div class="row">
                                <div class="col">
                                    <label class="text-center file-name" id="ref_measure_filename">
                                        <!-- File: D:\Learning Data\Code\FastAPI-tutorial\resoures.txt -->
                                    </label>
                                </div>
                                <div class="col">
                                    <label class="text-center file-name" id="compare_measure_filename">
                                        <!-- File: D:\Learning Data\Code\FastAPI-tutorial\resoures.txt -->
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="my-5 upload header-upload">

                            <p class="fs-4 mb-4 text-center">2. Header File</p>

                            <div class="row">

                                <label class="col btn btn-rounded shadow upload-label">
                                    <input id="ref_header_file" name="ref_header_file" class="file-input" type="file" accept=".000">
                                    <p class="fs-2 text-center">Reference</p>
                                    <img class="upload-logo mx-auto d-block" src="../images/download-svgrepo.svg">
                                </label>

                                <label class="col btn btn-rounded shadow upload-label">
                                    <input id="compare_header_file" name="compare_header_file" class="file-input" type="file" accept=".000">
                                    <p class="fs-2 text-center">Compare</p>
                                    <img class="upload-logo mx-auto d-block" src="../images/download-svgrepo.svg">
                                </label>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class="text-center file-name" id="ref_header_filename">
                                        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. -->
                                    </label>
                                </div>
                                <div class="col">
                                    <label class="text-center file-name" id="compare_header_filename">
                                        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. -->
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- <input type="file" id="ref_measure_file" name="ref_measure_file"> -->
                        <!-- <input type="file" id="compare_measure_file" name="compare_measure_file"> -->
                        <!-- <input type="file" id="ref_header_file" name="ref_header_file"> -->
                        <!-- <input type="file" id="compare_header_file" name="compare_header_file"> -->
                        
                        
                        

                        <div class="py-5 d-flex justify-content-center">
                            <label class="btn btn-rounded shadow submit-label" id="submit-label">
                                <input type="submit" value="" class="upload-input" disabled>
                                <p>Upload</p>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- <p>Hello, {{ username }}. This is <b>home.html</b></p>
    <p>{{ request }}</p> -->

    
    <script src="js/utils.js"></script>
    <script src="js/CheckUploadFile.js"></script>


</body>
</html>